<template>
  <div class="vue-table-container" :style="{ width }">
    <div class="vue-table-caption" v-if="caption">{{ caption }}</div>
    <div class="vue-table" :class="{ condensed: condensed }">
      <div class="thead tr">
        <div class="th td" v-for="(field, index) in fields" :key="index" :class="{ number: field.number }">
          {{ getHeader(field) }}
        </div>
      </div>
      <div
        class="tr"
        v-for="(row, index) in rows"
        :key="index"
        :class="{ striped: striped && index % 2 === 0 }">
        <div
          class="td"
          v-for="(field, index) in fields"
          :key="index"
          :class="{ th: index === 0, number: field.number }"
          :style="field.context && getContext(field.context(row))"
          >
          {{ getCell(row, field) }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Table",
  props: {
    caption: String,
    condensed: Boolean,
    fields: Array,
    rows: Array,
    striped: Boolean,
    width: String
  },
  methods: {
    /**
     * Builds a header for the supplied field
     * @param {string|object} field - The field for the column
     */
    getHeader(field) {
      let name;
      if (typeof field === "string") {
        name = field.split(" ").map(f => {
          return f[0].toUpperCase() + f.slice(1);
        });
      } else {
        name = field.name.split(" ").map(f => {
          return f[0].toUpperCase() + f.slice(1);
        });
      }
      return name.join(" ");
    },
    /**
     * Gets the data for the provided cell for the current row
     * @param {object} item - The item for the current row
     * @param {string|object} field - The current field
     */
    getCell(item, field) {
      if (typeof field === "string") {
        return item[field];
      }

      return item[field.key];
    },
    getContext(context) {
      if (context) {
        return {
          backgroundColor: context.background,
          color: context.color
        };
      }
    }
  }
};
</script>

<style scoped>
.vue-table-container {
  background-color: #fff;
}

.vue-table-caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

.condensed .vue-table-caption {
  padding-top: 5px;
  padding-bottom: 5px;
}

.vue-table {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

.thead {
  display: none;
}

.thead > .th {
  white-space: normal;
  border-bottom: 2px solid #ddd;
}

.thead > .td {
  border-top: none;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.th {
  font-weight: bold;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 8px;
  line-height: 1.5;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  justify-content: left;
  border-top: 1px solid #ddd;
}

.condensed .td {
  padding: 5px;
}

.td.number {
  justify-content: right;
}

.tr:hover:not(.thead) {
  background-color: #f5f5f5;
}

.tr.striped {
  background-color: #f9f9f9;
}
</style>
